// Body
$body-bg: white;

$color: #282828;
$colorRed: #0c73c0;
$colorCCC: #CCCCCC;
$colorGrey: #6F7893;
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
@mixin family($font) {
    font-family: $font, "Arial Narrow", Arial, Helvetica, sans-serif;
}
$font-size-base: 1rem;
$line-height-base: 1.6;
