body {
    background-image: url('../images/fon.jpg');
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    height: 108px;
    background-image: url("../images/header.png");
    background-position: center;
    background-repeat: no-repeat;

}

.top_block {

    position: relative;
    padding-top: 14px;

    .container_head {
        max-width: 1345px;
        margin: auto;
    }

    .bl_top__head {
        position: absolute;
        top: -9px;
        min-height: 10px;
        width: 100%;
    }

    .container_head_b {
        max-width: 1320px;
        margin: auto;
        position: relative;
    }
}

.logo {
    padding: 0 1em;

    .logo_1 {
        margin-right: 0.8rem;
    }
}

.phones_emails_company {
    padding: 0.7em 2em;
    height: 100%;

    .top_email {

        height: 45px;
        font-size: 1.5em;

    }

    .top_phone {

        height: 43px;
    }


}

._content {
    padding: 15px 0;
    border-radius: 0 0 6px 6px;
}

._search_website {
    margin: auto;
    position: relative;
    max-width: 1320px;
}

.search_website {

    min-height: 124px;
    margin: 0 8px;
    position: relative;
    background: #f5f5f5;
    -webkit-box-shadow: 0px 8px 12px -9px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 8px 12px -9px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 8px 12px -9px rgba(34, 60, 80, 0.2) inset;

    ._text_search_of_products {
        position: relative;
        margin: auto;
        width: 300px;
        min-height: 1px;

        .text_search_of_products {
            position: absolute;
            top: 4px;
            text-align: center;
            z-index: 5;
            width: 100%;
            font-weight: 900;

            span {
                width: 100%;
                position: relative;
                text-align: center;
            }
        }
    }

    .d11 {

        height: 0;
        width: 299px;
        border-bottom: 30px solid #fcfcfc;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        transform: rotateX(180deg);
        margin: auto;
        top: 0;
        position: relative;
        -webkit-box-shadow: 0px 8px 12px -9px rgba(34, 60, 80, 0.2) inset;
        -moz-box-shadow: 0px 8px 12px -9px rgba(34, 60, 80, 0.2) inset;
        box-shadow: 0px 8px 12px -9px rgba(34, 60, 80, 0.2) inset;


    }


    ._hr {
        position: relative;
        width: 90%;
        margin: auto;
        height: auto;

        .hr {
            width: 100%;
            margin: auto;
            height: 2px;
            background: #dadada;
            border-bottom: 1px solid #ffffff;
            position: absolute;
            top: 18px;

        }
    }
}

.d112 {

    height: 0;
    width: 100%;
    border-bottom: 10px solid #d7d7d7;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    /*   transform: rotateX(180deg);*/
    margin: auto;
    top: 0;
    position: relative;

}

._options {
    padding: 22px 0 0 0;
}

.select_search {
    .form-outline,
    .form-control {
        position: relative;
        height: 44px
    }

    .select-arrow {
        top: 12px;

    }
}

.input_search {
    .form-control {
        position: relative;
        height: 44px;
    }
}

.btn-44 {
    height: 44px;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.2em;

}

.left_bar {
    .list-group-item {
        background: none;
        border: 1px solid #dfe7f6 !important;
        font-size: 1.1em;
        transition: 0.2s;

        &.active {
            background-color: #dc3545 !important;
        }

        &:hover {
            background-color: #dfe7f6;
        }

        &.active:hover {
            background-color: #bb2d3b !important;
        }

    }

    .item1 {
        background-image: url("../images/icon-menu01.png");
        background-position: 96% 15px;
        background-repeat: no-repeat;
    }

    .item2 {
        background-image: url("../images/icon-menu05.png");
        background-position: 96% 15px;
        background-repeat: no-repeat;
    }

    .item3 {
        background-image: url("../images/icon-menu07.png");
        background-position: 96% 15px;
        background-repeat: no-repeat;
    }

    .item4 {
        background-image: url("../images/icon-menu09.png");
        background-position: 96% 15px;
        background-repeat: no-repeat;
    }

}

/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
.div_content {
    h1 {
        font-size: 2em;
        @include family('Open Sans');
        padding: 0 0 13px 0;
        margin: 0;
        //   font-weight: 700;
    }

    h2 {
        font-size: 1.7em;
        @include family('Open Sans');
        padding: 13px 0;
        margin: 0;
        //   font-weight: 700;
    }

    p {
        margin: 0;
        padding: 9px 0;
    }

    .content_list {
        list-style-type: none;
        margin: 0 0 10px 0;
        padding: 0;
        position: relative;

        li {
            padding: 10px 0;
            border-bottom: 1px solid #f5f5f5;
            color: #234b85;
        }
    }

    ._text_list {
        p {
            min-height: 100px;

        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////


._h2 {
    min-height: 50px;
    color: #234b85;
    background-color: #d8e5f8;
    margin: 20px 0;

    h2 {
        color: #234b85;
        font-size: 1.7em;
        @include family('Open Sans');
        padding: 13px 0;
        margin: 0;
    }
}

.contaiter_index_more_text {
    ._h2 {
        margin: 0 0 30px 0;
    }
}

/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

.contaiter_footer {
    min-height: 165px;
    width: 100%;
    background: url("../images/footer.jpg") top repeat-x;

    ._text_footer {
        font-size: 0.9em;
        padding: 35px 0 17px 0;
        font-style: italic;
        font-weight: 300;
        border-bottom: 1px solid #4949a8;

    }
    .spb-webmaster {
        font-size: 0.9em;
        color: #b9d0f0 ;

        a{
            &:hover {
                text-decoration: none;
            }
        }

    }
    .metrica {
        height: 31px;
    }
}
